<div class="container-fluid main-con">
<header class="h-100 ">
  <mdb-navbar SideClass="peach-gradient navbar navbar-expand-lg navbar-dark" mdbStickyHeader [containerInside]="true">
    
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <img src="../assets/images/logo.webp" height="45" alt="">
        THYME
      </a>
    </mdb-navbar-brand>
    
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Products<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary peach-gradient" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Calcined Bauxite</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Industrial Machinery for Cement, iron and steel, power</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Refractory Products</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Imported Raw Material</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Alumina</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Compressors</a>
          </div>
      </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">News & Media</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">About Us</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Contact</a>
        </li>
        
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-blue-grey-light pattern-6 flex-center">
        <div class="maintext container font-weight-bold wow fadeInUp">
          <h1>SOURCING RAW<br> MATERIAL FROM<br>ANYWHERE TO<br>EVERYWHERE</h1>
         </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">

  <div class="container main-con">
    <div class="row">
        <div class="col-md-12">
          <div class="card-deck">
            <!-- Card -->
            <mdb-card>
              <div class="overlay rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="../assets/images/Bauxite.jpg" alt="Calcined Bauxite"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Calcined Bauxite</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>We offer various grades of Bauxite, as per customer requirements.
                </mdb-card-text>
          
                <a href="#" mdbBtn color="warning" mdbWavesEffect>Know more</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card>
              <div class="rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="../assets/images/industry.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Industrial Machinery for Cement, iron and steel, power</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>We are offering various machinery and complete solution from our principal partners in China. We assure you of the highest quality standards and very reasonable prices.
                </mdb-card-text>
          
                <a href="#" mdbBtn color="warning" mdbWavesEffect>Know more</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card>
              <div class="rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="../assets/images/Refactory.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Refractory Products</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>We offer a range of products to suit the needs of steel, power, cement, aluminium, refractory and petrochemical industry.
                </mdb-card-text>
          
                <a href="#" mdbBtn color="warning" mdbWavesEffect>Know more</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <br>
          <br>
          <div class="card-deck">
            <!-- Card -->
            <mdb-card>
              <div class="overlay waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="../assets/images/Raw.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Imported Raw Material</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>We offer a myriad range of products from all over the globe at the most competitive rates and to your utmost specifications.
                </mdb-card-text>
          
                <a href="#" mdbBtn color="warning" mdbWavesEffect>Know More</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card>
              <div class="rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="../assets/images/a2.jpg" alt="Alumina"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Alumina</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>Calcined and Reactive Alumina, Sintered & Fused Alumina, Special Alumina for Refractory, Abrasive, Paints and Coating, Blasting, insulation & ceramics.</mdb-card-text>
          
                <a href="#" mdbBtn color="warning" mdbWavesEffect>Know more</a>
              </mdb-card-body>
            </mdb-card>
          
            <!-- Card -->
            <mdb-card>
              <div class="rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="../assets/images/Compressor.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Compressors</h4>
                </mdb-card-title>
          
                <!--Text-->
                <mdb-card-text>We offer a wide range of compressors and we are the authorized distributors of FS Curtis Compressors in India.</mdb-card-text>
          
                <a href="#" mdbBtn color="warning" mdbWavesEffect>Know more</a>
              </mdb-card-body>
            </mdb-card>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!--Section: Features v.1-->
  <section class="text-center">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">Why should You choose Us?</h2>
    <!--Section description-->
    <!-- <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam.</p> -->

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-3">
        <mdb-icon fas icon="user-tie" size="5x" class="green-text"></mdb-icon>
        <h1 class="font-weight-bold mt-3">25 +</h1>
        <h4 class="font-weight-bold mt-3 grey-text">Of Experience
        </h4>
      </div>

      <div class="col-md-3">
        <mdb-icon fas icon="truck-moving" size="5x" class="red-text"></mdb-icon>
        <h3 class="font-weight-bold mt-3">50,000 MTS + 
          Raw Material</h3>
        <h4 class="font-weight-bold mt-3 grey-text">Delivered In 2019-20
        </h4>
      </div>
      
      <!--Grid column-->
      <div class="col-md-3">
        <mdb-icon fas icon="clipboard-check" size="5x" class="orange-text"></mdb-icon>
        <h3 class="font-weight-bold mt-3">35 Million US + IN </h3>
        <br>
        <h4 class="font-weight-bold mt-3 grey-text">Sales In
          2019-20
        </h4>
      </div>
      <!--Grid column-->
      <div class="col-md-3">
        <mdb-icon fas icon="boxes" size="5x" class="cyan-text"></mdb-icon>
        <h3 class="font-weight-bold mt-3">More Than 100 Million kgs</h3>
        <h4 class="font-weight-bold mt-3 grey-text">Bauxite Delivered        
        </h4>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Features v.1-->
      </div>
    </div>
    <br><br>
    <!-- <div class="row aboutus">
      <div class="col-md-12 aboutus">
        <div class="jumbotron" style="background-image:../assets/images/About1.jpg">
          <h1 class="display-4">ABOUT US</h1>
          <p class="lead"><img src="../assets/images/About1.jpg" alt="About" style="width:170px;height:170px; float: right;">What began as a small business in 1990, with a modest capital, lot of zeal and diverse portfolio of products and services, is now an Enterprise with Solid Reputation for Best Products, Most Competitive and Honest Prices, Excellent Pre and Post Sales Services.</p>
          <hr class="my-4">
          <p>All this was possible because of years of experience and presence in industry coupled with the never-say-die spirit in face of adversities, willing to tread untrodden path and unchartered territories. 

            Over the past 25 years, we have established ourselves in Refractories, Refractory Raw Materials, Machinery, Insulating Material, Chemicals. We believe in consolidating existing products and constantly on looking out for diversifying product portfolio and expanding customer base.﻿﻿</p>
          <a mdbBtn color="primary" size="lg" href="#" role="button" mdbWavesEffect>Learn more</a>
        </div>
      </div>
    </div> -->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <mdb-card style="background-image: url('../assets/images/About1.jpg'); background-repeat: no-repeat; background-position:center; height: 500px;">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" style="position: absolute; width:100%; bottom: 0px; top: 0px;">
            <div class="aboutus">
              <h3 class="card-title py-3 font-weight-bold"><strong>About Us</strong></h3>
              <p class="pb-3"> What began as a small business in 1990, with a modest capital, lot of zeal and diverse portfolio of products and services, is now an Enterprise with Solid Reputation for Best Products, Most Competitive and Honest Prices, Excellent Pre and Post Sales Services.</p> 
              <a href="#" mdbBtn color="warning" mdbWavesEffect>Know More</a>
            </div>
          </div>
        </mdb-card>
    </div>
  </div>
  </div>
</main>
<div class="row">
  <div class="col">
    <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

<!-- Footer Links -->
<div class="container text-center text-md-left">

  <!-- Footer links -->
  <div class="row text-center text-md-left mt-3 pb-3">

    <!-- Grid column -->
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Thyme Corporation</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
        elit.
      </p>
    </div>
    <!-- Grid column -->

    <hr class="w-100 clearfix d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
      <p>
        <a href="#!">Calcined Bauxite</a>
      </p>
      <p>
        <a href="#!">Industrial Machinery for Cement, iron and steel, power</a>
      </p>
      <p>
        <a href="#!">Refractory Products</a>
      </p>
      <p>
        <a href="#!">Imported Raw Material</a>
      </p>
      <p>
        <a href="#!">Alumina</a>
      </p>
      <p>
        <a href="#!">Compressors</a>
      </p>
    </div>
    <!-- Grid column -->

    <hr class="w-100 clearfix d-md-none">

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
      <p>
        <a href="#!">Your Account</a>
      </p>
      <p>
        <a href="#!">Become an Affiliate</a>
      </p>
      <p>
        <a href="#!">Shipping Rates</a>
      </p>
      <p>
        <a href="#!">News & Media</a>
      </p>
      <p>
        <a href="#!">Help</a>
      </p>
    </div>

    <!-- Grid column -->
    <hr class="w-100 clearfix d-md-none">

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
      <p>
        <mdb-icon fas icon="home" class="mr-3"></mdb-icon>London England - W1G 9NY
      </p>
      <p>
        <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com
      </p>
      <p>
        <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
      </p>
      <p>
        <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
      </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Footer links -->

  <hr>

  <!-- Grid row -->
  <div class="row d-flex align-items-center">

    <!-- Grid column -->
    <div class="col-md-7 col-lg-8">

      <!--Copyright-->
      <p class="text-center text-md-left">© 2020 Copyright:
        <a href="https://thymecorporation.com/">
          <strong> Thyme Corporation</strong>
        </a>
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-5 col-lg-4 ml-lg-0">

      <!-- Social buttons -->
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab fab icon="google-plus"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

</footer>
<!-- Footer -->
  </div>
</div>
<!--Main Layout-->
</div>